name: Deploy dist
on: [push, workflow_dispatch]
jobs:
    greeting_job:
        runs-on: ubuntu-latest
        steps:
         - name: Get code
           uses: actions/checkout@v6
         - name: Install NodeJS
           uses: actions/setup-node@v6
           with:
             node-version: '21'
         - name: print version
           run: node -v
         - name: Install dependencies
           run: npm ci
         - name: Run tests
           run: npm run test
           