name: Deploy dist
#on: [push, workflow_dispatch]
on:
  push:
    branches:
      - main
      - 'feature/**'
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
         - name: Get code
           uses: actions/checkout@v6
         - name: Install NodeJS
           uses: actions/setup-node@v6
           with:
             node-version: '21'
         - name: cache dependencies
           uses: actions/cache@v4
           with:
             path: ~/.npm
# ubuntu-node-231234876 (This below key will generate a unique key based on OS and package-lock.json file hash)
             key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
         - name: Install dependencies
           run: npm ci
         - name: Run tests
           run: npm run test
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
         - name: Get code
           uses: actions/checkout@v6
         - name: Install NodeJS
           uses: actions/setup-node@v6
           with:
             node-version: '21'
         - name: cache dependencies
           uses: actions/cache@v4
           with:
             path: ~/.npm
# ubuntu-node-231234876 (This below key will generate a unique key based on OS and package-lock.json file hash)
             key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
         - name: Install dependencies
           run: npm ci
         - name: Build project
           run: npm run build
         - name: Upload dist folder
           uses: actions/upload-artifact@v4
           with:
                name: dist-folder
                path: dist
    deploy:
        needs: test
        runs-on: ubuntu-latest
        steps:
         - name: Download dist folder
           uses: actions/download-artifact@v4
           with:
                name: dist-folder
         - name: Deploy step
           run: echo "Deploying the project..."
